# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [222]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline


from newsapi import NewsApiClient

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/keanumanson/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [223]:
# Read your api key environment variable
load_dotenv()
api_key = os.getenv("NEWS_API_KEY")

In [224]:
# Create a newsapi client
newsapi = NewsApiClient(api_key=api_key)

In [225]:
# Fetch the Bitcoin news articles
btc_articles = newsapi.get_everything(
    q="Bitcoin",
    language="en",
    page_size=100,
    sort_by="relevancy"
)

# total articles
print(f"Total articles about Bitcoin: {btc_articles['totalResults']}")

# sample article
btc_articles["articles"][0]

Total articles about Bitcoin: 8597

{'source': {'id': 'the-verge', 'name': 'The Verge'},
 'author': 'Justine Calma',
 'title': 'Why fossil fuel companies see green in Bitcoin mining projects',
 'description': 'ExxonMobil and other fossil fuel companies have turned to Bitcoin mining to address a gas problem. But their plans come with risks.',
 'url': 'https://www.theverge.com/2022/5/4/23055761/exxonmobil-cryptomining-bitcoin-methane-gas',
 'urlToImage': 'https://cdn.vox-cdn.com/thumbor/BZdljrBbt8tBl6oCCnckcDKqe6g=/0x90:4608x2503/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/23435975/1240300988.jpg',
 'publishedAt': '2022-05-04T12:00:00Z',
 'content': 'A Bitcoin mining site powered by otherwise lost gas from an oil well near Linden, Texas, on April 4th, 2022. | Photo by FRANCOIS PICARD/AFP via Getty Images\r\n\n \n\n Of all the corporate climate hype fl… [+6544 chars]'}

In [226]:
# Fetch the Ethereum news articles
eth_articles = newsapi.get_everything(
    q="Ethereum",
    language="en",
    page_size=100,
    sort_by="relevancy"
)

# total articles
print(f"Total articles about Ethereum: {eth_articles['totalResults']}")

# sample article
eth_articles["articles"][0]

Total articles about Ethereum: 4723

{'source': {'id': 'the-verge', 'name': 'The Verge'},
 'author': 'Emma Roth',
 'title': 'US blames North Korean hacker group for $625 million Axie Infinity theft',
 'description': 'The US Department of Treasury has attributed the $625 Axie Infinity theft to Lazarus, a North Korean hacking group with ties to the country’s intelligence agency.',
 'url': 'https://www.theverge.com/2022/4/14/23025739/north-korean-hacker-lazarus-axie-infinity-cryptocurrency-hack-theft-us-blames',
 'urlToImage': 'https://cdn.vox-cdn.com/thumbor/n8TGCqcud7UHPIbtgxLi10Owa5I=/0x52:1018x585/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/23374959/Screen_Shot_2022_03_30_at_10.10.00_AM.png',
 'publishedAt': '2022-04-14T21:43:57Z',
 'content': 'The US Department of Treasury says Lazarus is behind the attack\r\nThe US Treasury Department blames North Korean hacking group Lazarus for stealing $625 million in cryptocurrency from the Ronin networ… [+1853 chars]'}

In [227]:
# Create the Bitcoin sentiment scores DataFrame

# Download/Update the VADER Lexicon
nltk.download('vader_lexicon')

# Initialized the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

btc_sentiments = []

for article in btc_articles["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10] #first top 10??
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        btc_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass
    
# Create DataFrame for sentiments
btc_df = pd.DataFrame(btc_sentiments)

# ReorderingDataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
btc_df = btc_df[cols]

btc_df.head()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/keanumanson/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

,date,text,compound,positive,negative,neutral
0,2022-05-04,A Bitcoin mining site powered by otherwise los...,-0.0516,0.056,0.061,0.882
1,2022-04-08,Its set to open later this year\r\nIf you buy ...,-0.4404,0.000,0.081,0.919
2,2022-04-14,Wikipedia editors have voted in favor of dropp...,0.4019,0.088,0.000,0.912
3,2022-05-02,Warren Buffett has always been a bitcoin skept...,-0.3269,0.085,0.143,0.772
4,2022-05-05,If youve ever felt like introducing some Vegas...,0.7506,0.193,0.000,0.807

In [228]:
# Create the Ethereum sentiment scores DataFrame
# Download/Update the VADER Lexicon
nltk.download('vader_lexicon')

# Initialized the VADER sentiment analyzer
analyzer = SentimentIntensityAnalyzer()

eth_sentiments = []

for article in eth_articles["articles"]:
    try:
        text = article["content"]
        date = article["publishedAt"][:10] #first top 10??
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        eth_sentiments.append({
            "text": text,
            "date": date,
            "compound": compound,
            "positive": pos,
            "negative": neg,
            "neutral": neu
            
        })
        
    except AttributeError:
        pass
    
# Create DataFrame for sentiments
eth_df = pd.DataFrame(eth_sentiments)

# ReorderingDataFrame columns
cols = ["date", "text", "compound", "positive", "negative", "neutral"]
eth_df = eth_df[cols]

eth_df.head()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/keanumanson/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

,date,text,compound,positive,negative,neutral
0,2022-04-14,The US Department of Treasury says Lazarus is ...,-0.7845,0.088,0.231,0.681
1,2022-04-13,"18 with 15 posters participating, including st...",0.1027,0.084,0.071,0.844
2,2022-04-15,"Opera launched its dedicated ""Crypto Browser"" ...",0.7351,0.188,0.000,0.812
3,2022-05-02,A multi-billion dollar cryptocurrency company ...,-0.2263,0.046,0.075,0.879
4,2022-05-04,When Bored Ape Yacht Club creators Yuga Labs a...,-0.2732,0.000,0.055,0.945

In [229]:
# Describe the Bitcoin Sentiment
btc_sentiment_stats = btc_df.describe()
btc_sentiment_stats

         compound    positive    negative     neutral
count  100.000000  100.000000  100.000000  100.000000
mean     0.164041    0.072300    0.034850    0.892870
std      0.395476    0.076387    0.061053    0.099136
min     -0.872000    0.000000    0.000000    0.557000
25%      0.000000    0.000000    0.000000    0.830500
50%      0.109050    0.072500    0.000000    0.913000
75%      0.475400    0.127250    0.065500    1.000000
max      0.952000    0.378000    0.329000    1.000000

In [230]:
# Describe the Ethereum Sentiment
eth_sentiment_stats = eth_df.describe()
eth_sentiment_stats

         compound    positive    negative     neutral
count  100.000000  100.000000  100.000000  100.000000
mean     0.196697    0.085410    0.034720    0.879860
std      0.402298    0.086937    0.048457    0.091854
min     -0.784500    0.000000    0.000000    0.622000
25%     -0.115300    0.000000    0.000000    0.823750
50%      0.215150    0.069500    0.000000    0.898500
75%      0.498075    0.132500    0.063000    0.938500
max      0.952000    0.378000    0.233000    1.000000

In [231]:
def coin_sentiment_results():
    print('Mean Positive score:')
    print('Btc', btc_sentiment_stats['positive']['mean'])
    print('Eth', eth_sentiment_stats['positive']['mean'])

    print('\nHighest compound score:') #highest... not mean.
    print('Btc', btc_sentiment_stats['compound']['mean'])
    print('Eth', eth_sentiment_stats['compound']['mean'])

    print('\nHighest positive score:') #max? is that what we want
    print('Btc', btc_sentiment_stats['positive']['max'])
    print('Eth', eth_sentiment_stats['positive']['max'])

coin_sentiment_results()

Mean Positive score:
Btc 0.07229999999999998
Eth 0.08540999999999997

Highest compound score:
Btc 0.16404099999999996
Eth 0.196697

Highest positive score:
Btc 0.378
Eth 0.378

### Questions:

Q: Which coin had the highest mean positive score?

A: Eth has the highest mean positive score

Q: Which coin had the highest compound score?

A: Eth ?

Q. Which coin had the highest positive score?

A: Eth?

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [232]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [233]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer() 

# Create a list of stopwords
sw = set(stopwords.words('english'))

# Expand the default stopwords list if necessary
#sw_extras = ['Mone', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
sw_extras = ['status', 'ok'] #custom stopwords works

In [234]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Remove the punctuation from text
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', str(text)) #had to convert floats (numbers in the articles into strings to be compatable with the functions)

    # Create a tokenized list of the words
    word_list = word_tokenize(re_clean)
    
    # Lemmatize words into root words
    result = [lemmatizer.lemmatize(word) for word in word_list]
   
    # Convert the words to lowercase
    # Remove the stop words
    output = [word.lower() for word in word_list if word.lower() not in sw.union(sw_extras)]    
        
    return output

#print(tokenizer(btc_articles))

In [235]:
# Create a new tokens column for Bitcoin
    # a new data frame with that column? or a new column on one of the data frames from above?

#new df
btc_articles

btc_df_tokens_solo_column = pd.DataFrame({'Word_Tokenized_BTC': tokenizer(btc_articles)})

#add tokenized words onto old column?

In [236]:
# Create a new tokens column for Ethereum

eth_df_tokens_solo_column = pd.DataFrame({'Word_Tokenized_ETH': tokenizer(eth_articles)})

eth_df_tokens_solo_column

     Word_Tokenized_ETH
0          totalresults
1              articles
2                source
3                    id
4              theverge
...                 ...
5994       xaethereumxa
5995                eth
5996         andxaxrpxa
5997                 xr
5998              chars

[5999 rows x 1 columns]

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [237]:
from collections import Counter
from nltk import ngrams

In [238]:
# Generate the Bitcoin N-grams where N=2
word_counts_btc = Counter(tokenizer(btc_articles))
#print(dict(word_counts_btc))
#print(dict(word_counts_btc.most_common(20)))

#bigram count
bigram_counts_btc = Counter(ngrams(word_counts_btc, n=2))
#print(dict(bigram_counts_btc))

#top X bigrams
#print(dict(bigram_counts_btc.most_common(10)))

In [239]:
# Generate the Ethereum N-grams where N=2
word_counts_eth = Counter(tokenizer(eth_articles))
#print(dict(word_counts_eth))
#print(dict(word_counts_eth.most_common(20)))

#bigram count
bigram_counts_eth = Counter(ngrams(word_counts_eth, n=2))
#print(dict(bigram_counts_eth))

#top X bigrams
#print(dict(bigram_counts_eth.most_common(10)))

In [242]:
# Function token_count generates the top 10 words for a given coin

#input variable (for tokens) must be N-grams^^
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    word_counts = Counter(tokens)
    print(dict(word_counts))    
    print(dict(word_counts.most_common(20))) 
    return Counter(tokens).most_common(N)

def bigram_count(tokens, N=3): #not what we are meant to d0!!!
    """Returns the top N tokens from the frequency count"""
    bigram_counts = Counter(ngrams(tokens, N))
    print(dict(bigram_counts.most_common(10))) 
    return Counter(tokens).most_common(N)

In [244]:
# Use token_count to get the top 10 words for Bitcoin
token_count(word_counts_btc)

{('totalresults', 'articles', 'source'): 1, ('articles', 'source', 'id'): 1, ('source', 'id', 'theverge'): 1, ('id', 'theverge', 'name'): 1, ('theverge', 'name', 'verge'): 1, ('name', 'verge', 'author'): 1, ('verge', 'author', 'justine'): 1, ('author', 'justine', 'calma'): 1, ('justine', 'calma', 'title'): 1, ('calma', 'title', 'fossil'): 1}

[('bitcoin', 159), ('reuters', 119), ('source', 102)]

In [245]:
# Use token_count to get the top 10 words for Ethereum
token_count(word_counts_eth)

{('totalresults', 'articles', 'source'): 1, ('articles', 'source', 'id'): 1, ('source', 'id', 'theverge'): 1, ('id', 'theverge', 'name'): 1, ('theverge', 'name', 'verge'): 1, ('name', 'verge', 'author'): 1, ('verge', 'author', 'emma'): 1, ('author', 'emma', 'roth'): 1, ('emma', 'roth', 'title'): 1, ('roth', 'title', 'us'): 1}

[('content', 106), ('source', 102), ('id', 100)]

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---